<h2> All Manufacturers </h2>

<TABLE>
  <TR>
    <TD><strong>Manufacturer</TD>
    <TD><strong>Country</TD>
  </TR>
  <% @manufacturers.each do |manufacturer| %>
    <TR>
      <TD><%= manufacturer.name %></TD>
      <TD><%= manufacturer.country %></TD>
    </TR>
  <% end %>
</TABLE>
