<h2> All Manufacturers </h2>

<br><%= link_to 'Home', root_path %> </br>
<%= link_to 'Add New Manufacturer', new_manufacturer_path(@manufacturer) %>

<p>
  <% @manufacturers.each do |manufacturer| %>
    <p>
      <div><%= manufacturer.name %></div>
      <div><%= manufacturer.country %></div>
    </p>
  <% end %>
</p>
