<h2> All Manufacturers </h2>

<p><%= link_to 'Add New Manufacturer', new_manufacturer_path(@manufacturer) %></p>

<TABLE>
  <TR>
    <TD><strong>Manufacturer | </TD>
    <TD><strong>Country</TD>
  </TR>
  <% @manufacturers.each do |manufacturer| %>
    <TR>
      <TD><%= manufacturer.name %></TD>
      <TD><%= manufacturer.country %></TD>
    </TR>
  <% end %>
</TABLE>

<p><%= link_to "Back", root_path %></p>
